.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #4d8bf0;
}

h1 {
  margin: 30px;
  font-family: 'Inter', sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #deebe7;
}

p {
  font-size: 2rem;
  color: #172e27;
  font-family: 'Inter', sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Inter', sans-serif;

}
